[submodule "search-algorithms"]
	path = search-algorithms
	url = https://github.com/sina-negarandeh/gandalf-quest
[submodule "genetic-algorithms"]
	path = genetic-algorithms
	url = https://github.com/sina-negarandeh/genetic-algorithms-logic-circuit
[submodule "naive-bayes-classifier"]
	path = naive-bayes-classifier
	url = https://github.com/sina-negarandeh/naive-bayes-classifier-digikala-comments
